<% include partials/header %>

<div class="container">
        <form action="/payments" method="POST">

                <input type="text" name="cardName" placeholder="Card Holder's Name" class="form-control" required value="Wile E. Coyote">
                <input type="text" name="cardNumber" placeholder="Card Number" class="form-control" minlength="16" maxlength="16" value="4567350000427977">     
                <input type="text" name="cardCVV" placeholder="CVV" class="form-control" minlength="3" maxlength="3" value="123">

                <select class="form-control" name="expiryMonth">
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
        </select>

        <select class="form-control" name="expiryYear">
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
                <option value="26">2026</option>
        </select>

                <div>
                    <br>
                <button class="btn btn--right"> Pay Now </button>
            </div>
        </form>
</div>
<br>
<div class = "container">
    <form action="/hostedcheckout" method="POST">
        <label> Create a hosted check out? </label>
        <div>
            <button class="btn btn--right"> Hosted Check Out </button>
        </div>
    </form>
</div>

<br>
<div class = "container">
    <form action="/sessions/create" method="POST">
        <label> Create a new session? </label>
        <div>
            <button class="btn btn--right"> Create Session </button>
        </div>
    </form>
</div>

<br>
<div class = "container">
    <form action="/realtimeBanking" method="POST">
        <label> Real Time Banking - iDEAL </label>
        <div>
            <button class="btn btn--right"> Real Time Banking </button>
        </div>
    </form>
</div>

<br>
<div class = "container">
    <form action="/paypal" method="POST">
        <label> PayPal </label>
        <div>
            <button class="btn btn--right"><img src="images/paypal.png" width="100"></button>
        </div>
    </form>
</div>

<% include partials/footer %>
