<% include partials/header %>

<div class = "container">
    <div class = "row">
        <h1 style = "text-align: center;">Manage Payments</h1>
        <div style = "width: 30%; margin: 25px auto;">
            
            <form action = "/payments/create" method = "POST">
                <div class = "form-group">
                    <button class = "btn btn-lg btn-primary btn-block">Create Payment!</button>
                </div>
            </form>
                
            <form action = "/payments/tokenize" method = "POST">
                <div class = "form-group">
                    <button class = "btn btn-lg btn-primary btn-block">Tokenize Payment!</button>
                </div>
            </form>
                
                <form action = "/payments/approve" method = "POST">
                <div class = "form-group">
                    <button class = "btn btn-lg btn-primary btn-block">Approve Payment!</button>
                </div>
            </form>
            
            <a href = "/">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>